{
    "extends": "@react-native-community",
    "rules": {
        "quotes": [
            2,
            "double",
            {
                "avoidEscape": true
            }
        ],
        "indent": ["error", 4],
        "prettier/prettier": "warn"
    }
}
